[submodule "external_lib/libressl"]
	path = external_lib/libressl
	url = git@git.motis-project.de:lib/libressl.git
[submodule "external_lib/zlib"]
	path = external_lib/zlib
	url = git@git.motis-project.de:lib/zlib.git
